/* Style the HTML elements according to the following instructions. 
DO NOT ALTER THE EXISTING HTML TO DO THIS.  WRITE ONLY CSS!

/* Give the <body> element a background of #bdc3c7*/
body{
    background : #bdc3c7;
}

h1{
    color: #9b59b6;

}
h2{
    color : oragne;
}
li{
    color : blue;
}
p{
    background : yellow;
}
input{
    border: 3px solid red;
}

.hello{
    background: white;
}
#special {
    border: 2px solid rgb(0, 100, 200);
}
div p{
font-size: 25px;
}

input [type="text"]{

    background : gray;
}

div:nth-of-type(3) p{
    background: pink;
}

div:nth-of-type(3)p:nth-of-type(2) {
  border : 5px solid white;
}

div:nth-of-type(3) em{
    color: white;
    font-size: 20px;
}

input:checked {
    margin-left : 50px;
}

label {
    text-transform: uppercase;
    }

    #special::first-letter{
        color:green;
        font-size: 100px;
    }

    h1:hover {
        color :blue;
    }

    a:visited{
        color: gray;
    }
/*BONUS CHALLENGES*/
/*You may need to research some other selectors and properties*/

/*Make all "checked" checkboxes have a left margin of 50px(margin-left: 50px)*/


/* Make the <label> elements all UPPERCASE without changing the HTML(definitely look this one up*/


/*Make the first letter of the element with id 'special' green and 100px font size(font-size: 100)*/


/*Make the <h1> element's color change to blue when hovered over */


/*Make the <a> element's that have been visited gray */

